altgraph==0.17
apipkg==1.5
appdirs==1.4.4
asgiref==3.2.4
astroid==2.3.2
attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
cli-helpers==2.0.1
click==7.1.2
configobj==5.0.6
distlib==0.3.1
Django==3.0.4
execnet==1.7.1
filelock==3.0.12
Flask==1.1.2
gunicorn==20.0.4
idna==2.9
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
litecli==1.3.2
logic==0.2.3
macholib==1.14
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.2.0
multipledispatch==0.6.0
packaging==20.1
pluggy==0.13.1
prompt-toolkit==3.0.5
py==1.8.1
Pygments==2.6.1
PyInstaller==3.6
pylint==2.4.3
pyparsing==2.4.6
PySocks==1.7.1
pyTelegramBotAPI==3.6.7
pytest==5.3.5
pytest-forked==1.1.3
pytest-xdist==1.31.0
python-project-lvl2==2.1.4
pytz==2019.3
requests==2.7.0
rope==0.16.0
selenium==3.141.0
selenium-wire==1.0.11
six==1.12.0
sqlparse==0.3.1
tabulate==0.8.7
telebot==0.0.3
terminaltables==3.1.0
tk==0.1.0
toolz==0.11.1
unification==0.2.2
urllib3==1.25.8
virtualenv==20.1.0
wcwidth==0.1.8
Werkzeug==1.0.1
wrapt==1.11.2
